<!DOCTYPE html>
<html>
<head>
    <title>Svelte 2.0 </title>
    <style>body { background-color: #00A8B1;
      ;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    font-family: 'Montserrat';
    color: #F2CE06;
  ;
    
  }
  
  p {
    color: #f2f2f2;
    line-height: 1.5;
  }
  </style>
</head>
<body>
    <h1>Svelte 2.0</h1>

    <p>Svelte 2.0 is an online programme conducting by TinkerHub GECT, it's an introduction to Basics of Flask in Python.
        Flask is a beginner-friendly web framework that allows you to build web applications using Python.In this programme, we will cover key concepts in Flask, including connecting to a database, routing with variable rules,
        understanding templates, using Jinja2 for templating, handling HTTP methods (GET/POST), and retrieving form data.
    </p>
</body>
</html>
